In [30]:
import pandas as pd

In [31]:
data = pd.read_csv('Capital Greens.csv')
data.head()

,Scheme Name,Customer Name,Property,Customer Address,Email
0,DLF Capital Greens,ADITYA AWASTHI,CGH061,"WZ-21, GOLDEN PARK, RAMPURA, DELHI - 110 035,D...",aditya.awasti@gmail.com
1,DLF Capital Greens,RAM GOPAL,CGE263,"JEWEL SHINE, 1148, CHANDNI CHOWK, DELHI - 110 ...",pragati_2581@yahoo.com
2,DLF Capital Greens,ABHISHEK GOYAL,CGA035,"HOUSE # 1229, PROGRESSIVE ENCLAVE, PLOT # 2, S...",ABHISHEK_GOYAL@INFOSYS.COM
3,DLF Capital Greens,MADAN MOHAN GUPTA,CGG202,"T-29/K ROAD NO 20, BALJEET NAGAR, WEST PATEL N...",madan52@yahoo.com
4,DLF Capital Greens,LALIT ROHILLA,CGJ286,"H-137, KARAM PURA, NEW DELHI - 110 015,Delhi, ...",rohillakamal@yahoo.co.in

In [32]:
new1 = data['Customer Address'].str.split("Phone No.",expand =True)

In [33]:
df1=data.drop('Customer Address',axis=1);

In [34]:
df1['Address'] = new1[0]
df1['Contact'] = new1[1]
df1.head()

,Scheme Name,Customer Name,Property,Email,Address,Contact
0,DLF Capital Greens,ADITYA AWASTHI,CGH061,aditya.awasti@gmail.com,"WZ-21, GOLDEN PARK, RAMPURA, DELHI - 110 035,D...",011-28313222\n Mobile No. 9717640627\n Email ...
1,DLF Capital Greens,RAM GOPAL,CGE263,pragati_2581@yahoo.com,"JEWEL SHINE, 1148, CHANDNI CHOWK, DELHI - 110 ...",011-23982244\n Mobile No. 9899555945\n Email ...
2,DLF Capital Greens,ABHISHEK GOYAL,CGA035,ABHISHEK_GOYAL@INFOSYS.COM,"HOUSE # 1229, PROGRESSIVE ENCLAVE, PLOT # 2, S...",0172-4679695\n Mobile No. 9779456043\n Email ...
3,DLF Capital Greens,MADAN MOHAN GUPTA,CGG202,madan52@yahoo.com,"T-29/K ROAD NO 20, BALJEET NAGAR, WEST PATEL N...",011-64522394\n Mobile No. 0986867719\n Email ...
4,DLF Capital Greens,LALIT ROHILLA,CGJ286,rohillakamal@yahoo.co.in,"H-137, KARAM PURA, NEW DELHI - 110 015,Delhi, ...",9810313266\n \n Email ID. rohillakamal@yahoo....

In [35]:
df1.to_csv('File1.csv')

In [36]:
new2 = df1['Contact'].str.split("Email ID.",expand =True)

In [37]:
df2 = df1.drop('Contact',axis=1)

In [38]:
df2['Phone Number'] = new2[0]
df2['E Mail1']  =new2[1]
df2.head()

,Scheme Name,Customer Name,Property,Email,Address,Phone Number,E Mail1
0,DLF Capital Greens,ADITYA AWASTHI,CGH061,aditya.awasti@gmail.com,"WZ-21, GOLDEN PARK, RAMPURA, DELHI - 110 035,D...",011-28313222\n Mobile No. 9717640627\n,aditya.awasti@gmail.com
1,DLF Capital Greens,RAM GOPAL,CGE263,pragati_2581@yahoo.com,"JEWEL SHINE, 1148, CHANDNI CHOWK, DELHI - 110 ...",011-23982244\n Mobile No. 9899555945\n,pragati_2581@yahoo.com
2,DLF Capital Greens,ABHISHEK GOYAL,CGA035,ABHISHEK_GOYAL@INFOSYS.COM,"HOUSE # 1229, PROGRESSIVE ENCLAVE, PLOT # 2, S...",0172-4679695\n Mobile No. 9779456043\n,ABHISHEK_GOYAL@INFOSYS.COM
3,DLF Capital Greens,MADAN MOHAN GUPTA,CGG202,madan52@yahoo.com,"T-29/K ROAD NO 20, BALJEET NAGAR, WEST PATEL N...",011-64522394\n Mobile No. 0986867719\n,madan52@yahoo.com
4,DLF Capital Greens,LALIT ROHILLA,CGJ286,rohillakamal@yahoo.co.in,"H-137, KARAM PURA, NEW DELHI - 110 015,Delhi, ...",9810313266\n \n,rohillakamal@yahoo.co.in

In [39]:
df2.to_csv('File1.csv')

In [40]:
new3 = df1['Address'].str.split("Email ID.",expand =True)

In [41]:
df2['Address'] = new3[0]
df2['E1'] = new3[1]

In [42]:
new4 = df2['Phone Number'].str.split("Mobile No.",expand =True)

In [43]:
df3 = df2.drop('Phone Number',axis = 1);

In [44]:
df3['Ph. No.'] = new4[0]
df3['Mobile No.'] = new4[1]

In [45]:
df3.to_csv('File1.csv')

In [46]:
df3['Mail Address'] = df3['E Mail1'].map(str) + ',' + df3['E1'].map(str) + ',' + df3['E1'].map(str) 
#for rows in df3:
 #   df3["Mail Address"]  = pd.concat(df3["E mail"],df3["E Mail1"], df3["E1"])

In [47]:
#df3.drop

In [48]:
df3.head()

,Scheme Name,Customer Name,Property,Email,Address,E Mail1,E1,Ph. No.,Mobile No.,Mail Address
0,DLF Capital Greens,ADITYA AWASTHI,CGH061,aditya.awasti@gmail.com,"WZ-21, GOLDEN PARK, RAMPURA, DELHI - 110 035,D...",aditya.awasti@gmail.com,None,011-28313222\n,9717640627\n,"aditya.awasti@gmail.com,None,None"
1,DLF Capital Greens,RAM GOPAL,CGE263,pragati_2581@yahoo.com,"JEWEL SHINE, 1148, CHANDNI CHOWK, DELHI - 110 ...",pragati_2581@yahoo.com,None,011-23982244\n,9899555945\n,"pragati_2581@yahoo.com,None,None"
2,DLF Capital Greens,ABHISHEK GOYAL,CGA035,ABHISHEK_GOYAL@INFOSYS.COM,"HOUSE # 1229, PROGRESSIVE ENCLAVE, PLOT # 2, S...",ABHISHEK_GOYAL@INFOSYS.COM,None,0172-4679695\n,9779456043\n,"ABHISHEK_GOYAL@INFOSYS.COM,None,None"
3,DLF Capital Greens,MADAN MOHAN GUPTA,CGG202,madan52@yahoo.com,"T-29/K ROAD NO 20, BALJEET NAGAR, WEST PATEL N...",madan52@yahoo.com,None,011-64522394\n,0986867719\n,"madan52@yahoo.com,None,None"
4,DLF Capital Greens,LALIT ROHILLA,CGJ286,rohillakamal@yahoo.co.in,"H-137, KARAM PURA, NEW DELHI - 110 015,Delhi, ...",rohillakamal@yahoo.co.in,None,9810313266\n \n,None,"rohillakamal@yahoo.co.in,None,None"

In [49]:
new5 = df3['Address'].str.split("Mobile No.",expand =True)

In [50]:
df3['Address'] = new5[0]
df3['Mobile No.1'] = new5[1]

In [51]:
df3['Mobile Number'] =  df3['Mobile No.'].map(str) + ',' + df3['Ph. No.'].map(str) +df3['Mobile No.1'].map(str) 
#for rows in df3:
 #   df3["Mail Address"]  = pd.concat(df3["E mail"],df3["E Mail1"], df3["E1"])

NameError: name 'df4' is not defined

In [ ]:
df2.to_excel('Finall NTH.xlsx')